#experiences {
  // margin-top: -15rem;
  // padding-top: 15rem;
  h3 {
    font-size: $mid-font-size !important;
    font-weight: bold !important;
    margin-bottom: 1rem !important;
  }

  h2 {
    margin-bottom: 3.5rem;
  }

  @include respond(tab-land) {
    margin-top: 0;
    padding-top: 5rem;
  }

  .experiences-wrapper {
    @include respond(phone) {
      margin-bottom: 0rem;
    }

    @include respond(tab-land) {
      margin-bottom: 0rem;
    }

    &__experiences {
      padding: 1em;

      &-item {
        // padding-top: 20px;
        margin: 2rem auto;
        max-width: 80%;
        overflow: hidden;
        border-radius: 0.5em;
        text-decoration: none;
        background: $oxford-blue;
        // padding: 2.75em 2.5em;
        box-shadow: $light-box-shadow;
        display: flex;

        @include respond(phone) {
          flex-direction: column;
          margin: 0 auto; // shift image from right to bottom of text to fit small screens
          max-width: 90%;
        }

        align-items: center;
        justify-content: center;

        &__text {
          color: $white;
          margin: 2em;
          text-align: left;

          max-height: 60em; // ensure text dont make image go boom

          @include respond(phone) {
            margin-bottom: 2.5rem !important;
            margin-left: 1em;
            margin-right: 1em;
          }
          @include respond(tab-land) {
            margin-bottom: 4.8rem;
          }

          &-title {
            @include respond(phone) {
              font-size: 2rem;
            }
          }
          &-description {
            font-size: $small-font-size;
          }
        }

        &__img {
          width: 100%;
          margin: 0 auto;
          height: auto;
          max-width: 90em;
          max-height: 60em;
          object-fit: contain;
          object-position: center;
        }

        .col-md-5 {
          padding: 0px;
        }
      }
    }
  }
}
