#skills {
  // background-color: $primary-color;
  // background-image: linear-gradient(135deg, $primary-color 0%, $secondary-color 100%);
  // height: 100%;
  // border-top: 0px;
  // -webkit-clip-path: polygon(0 10em, 100% 0, 100% 100%, 0 90%);
  // clip-path: polygon(0 10em, 100% 0, 100% 90%, 0 100%);
  // padding-bottom: 10%;
  margin-top: -15rem;
  // padding-top: 15rem;

  // @include respond(tab-land) {
  //   height: 100%;
  //   -webkit-clip-path: none;
  //   clip-path: none;
  //   padding-top: 5rem;
  // }
  background-color: $oxford-blue-bg;

  .skills-wrapper {
    .grid {
      display: grid;
      grid-gap: 2rem;
      grid-template-columns: repeat(auto-fit, [col-start], 40vw, [col-end]);
      grid-template-rows: repeat(auto-fit, [row-start], 20vh, [row-end]);
    }

    @include respond(tab-port) {
      .grid {
        display: flex;
        flex-direction: column;
        grid-gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(80vw, 90vw));
        grid-template-rows: repeat(auto-fit, minmax(10vw, 15vw));
      }

      .computing {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row: auto;
      }
    }

    .computing {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 3;
    }

    .languages {
      grid-column-start: 2;
      grid-column-end: 3;
    }

    &__title {
      color: $white-color;
    }

    &__skills {
      // max-width: 20.75em;
      // min-height: 20.75em;
      overflow: hidden;
      border-radius: 0.5em;
      text-decoration: none;
      background: $oxford-blue;
      padding: 2.75em 2.5em;
      box-shadow: $light-box-shadow;
      text-align: left;

      h3 {
        color: $white;
        font-size: $mid-font-size;
      }

      &-item {
        padding-top: 20px;
        .progress {
          background-color: #a9a9a9;
          &-bar {
            background: linear-gradient(90deg, $primary-color, $secondary-color);
            // width: 80%;
            // bar width is set in Skills.jsx
            border-radius: 0.5em;
          }
        }

        &__text {
          text-align: left;
        }
      }
    }
  }
}
