// COLORS
$primary-color: #83a4d4; // #02aab0 default
$secondary-color: #b6fbff; // #00cdac default

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: #fff;

$dark-grey: #333333;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
$small-font-size: 1.4rem;

// EXPERIMENTAL DARK THEME
// $black: #000000ff;
// $rich-black-fogra-39: #111111ff;
// $jet: #333333ff;
// $white: #ffffffff;
// $flickr-blue: #0761d1ff;
// $french-rose: #ea558dff;

// ANOTHER DARK THEME SET

$oxford-blue-bg: #080c24ff;
$oxford-blue: #151e34ff;
$blue-crayola: #3071e8ff;
$blue-crayola-dark: #2c5c9dff;
$celadon-blue: #1f7ea7ff; //
$white: #f6fdff; // fake white that's gentler on the eyes
$maximum-blue-purple: #a6b2ebff;
