// COLORS
$primary-color: #83a4d4; // #02aab0 default
$secondary-color: #b6fbff; // #00cdac default

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: #fff;

$dark-grey: #333333;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
$small-font-size: 1.4rem;

// EXPERIMENTAL DARK THEME
// $black: #000000ff;
// $rich-black-fogra-39: #111111ff;
// $jet: #333333ff;
// $white: #ffffffff;
// $flickr-blue: #0761d1ff;
// $french-rose: #ea558dff;

// ANOTHER DARK THEME SET

$oxford-blue-light: #1f2c4fff;
$oxford-blue-bg: #080c24ff;
$oxford-blue: #151e34ff;

$blue-crayola: #3071e8ff;
$blue-crayola-dark: #1f5094;
$celadon-blue: #1f7ea7ff; //
$white: #f6fdff; // fake white that's gentler on the eyes
$maximum-blue-purple: #a6b2ebff;

$light-box-shadow: 0 1.5em 2.5em -0.5em rgba(#ffffff, 0.1);
$dark-box-shadow: 0 1.5em 2.5em -0.5em rgba(#000000, 0.1);

$bg--dark: #080c24ff;
$text-color--dark: #f6fdff;
$text-hover--dark: darken(white, 20%);
$card-bg--dark: #151e34ff;
$card-shadow--dark: 0 1.5em 2.5em -0.5em rgba(#ffffff, 0.1);
$card-hover--dark: #1f5094;
$navbar-toggler--dark: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");

$bg--light: #f6fdff;
$text-color--light: #080c24ff;
$text-hover--light: lighten(black, 20%);
$card-bg--light: red;
$card-shadow--light: 0 1.5em 2.5em -0.5em rgba(#000000, 0.1);
$card-hover--light: #1f5094;
$navbar-toggler--light: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='rgba%280, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
