// Section
section {
  padding: 5rem 0rem;
  transition: background $theme-toggle-transition-ms ease-in-out;

  @include respond(phone) {
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
