// @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap');

// h1 {
//   font-weight: 700;
// }

// p,
// a {
//   font-family: 'Montserrat', sans-serif;
//   font-size: $default-font-size;
// }

// a,
// a:link,
// a:hover,
// a:visited,
// a:active {
//   text-decoration: none;
// }

// a:hover {
//   transition: all 0.3s ease-in-out;
// }

.section-title {
  margin: 0px;
  margin-bottom: 4.5rem;
  font-size: $big-font-size;
  font-weight: bold;
  text-transform: uppercase;

  @include respond(phone) {
    font-size: 2.8rem;
  }
}

.dark-blue-text {
  color: $dark-blue-text !important;
}

.text-color-main {
  background-image: linear-gradient(135deg, $primary-color 0%, $secondary-color 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  // Responsive text purple style
  @include respond(phone) {
    background-image: none;
    -webkit-text-fill-color: $secondary-color;
  }

  &:hover {
    transform: translateX(2px);
  }
}

h1 {
  font-weight: 700;
}

p,
a {
  font-size: $default-font-size;
}

a,
a:link,
a:hover,
a:visited,
a:active {
  text-decoration: none;

  &:hover {
    transition: all 0.3s ease-in-out;
  }

  &.hover-link {
    color: var(--text-color); // no more blue link

    // thanks https://codepen.io/kevinpowell/pen/MWYwgOz
    // fancy animated underline mouse hover effect
    display: inline;
    background-image: linear-gradient(90deg, $primary-color, $secondary-color);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 0% 3px;
    transition: background-size 500ms ease-in-out;
    &:hover {
      background-size: 100% 3px;
    }
  }
}

.fancy-text {
  background-image: linear-gradient(135deg, #83a4d4 0%, #b6fbff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card {
  margin: 0 auto;
  max-width: 70%;
  // max-width: 20.75em;
  // min-height: 20.75em;
  overflow: hidden;
  border-radius: 0.5em;
  text-decoration: none;
  background: var(--card-bg);
  padding: 2.75em 2.5em;
  box-shadow: var(--card-shadow);

  &-item {
    padding-top: 20px;

    .progress {
      background-color: #a9a9a9;
      &-bar {
        background: linear-gradient(90deg, $primary-color, $secondary-color);
        // width: 80%;
        // bar width is set in Skills.jsx
        border-radius: 0.5em;
      }
    }

    &__text {
      color: var(--text-color);
      text-align: left;
    }
  }
}

.navbar-custom {
  background-color: var(--navbar-bg);
}

.navbar-custom .navbar-nav .nav-link {
  color: var(--navbar-text-color);
  &:hover,
  &:focus {
    color: var(--text-hover);
  }
}

.navbar-toggler-icon {
  background-image: var(--navbar-toggler) !important;
}

.navbar-text {
  color: var(--navbar-text-color) !important;
  font-size: 2rem;
}

#checkbox {
  height: 0;
  width: 0;
  visibility: hidden;

  &:not(:checked) ~ .theme-icon-sun {
    display: none;
  }

  &:checked ~ .theme-icon-moon {
    display: none;
  }
}

.theme-toggler-icons {
  cursor: pointer;
  margin: 0;
}
